/* Main Content Styles */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00; 
    height: 100vh; 
    border-radius: 0px; 
    margin: 0 auto;
    width: 100%;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

main h2 {
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
    z-index: 10;
    font-size: 20px;
    z-index:9;
}

  body {
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.15em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
    }

#canvas {
    position: relative;
    z-index: 10;
}

.textwrapper {
    background-color: #f0f0f02c;
    border: none;
    padding: 2px;
    border-radius: 4px;
    padding: 10px;    
    margin-top: 10px;
}

#prediction {
    margin: 0px 0 0 0;
    padding: 0;
    font-size: 14px ;
    font: 'Open Sans';
    color: #000000;
    text-align: center;
    z-index: 10;
}

#highscore{
    margin: 0px 0 0 0;
    padding: 0;
    font-size: 14px ;
    font: 'Open Sans';
    color: #000000;
    text-align: center;
    z-index: 10;
}

#currentscore{
    margin: 0px 0 0 0;
    padding: 0;
    font-size: 14px ;
    font: 'Open Sans';
    color: #000000;
    text-align: center;
    z-index: 10;
}

#tsparticles {
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


button {
    font-family: sans-serif;
    background: #6bd0ff;
    font-size: 11px;
    border: none;
    border-radius: 5px;
    color: #000000;
    padding: 5px 10px;
    letter-spacing: 2px;
    width: 87px;
    display: block;
    position: relative;
    z-index: 10;
}

button:hover {
    opacity: 0.8;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 6px; 
}

.box {
    /* background-color: rgb(167, 167, 167); */
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    padding: 1vw;
    position: relative;
    max-width: 90%;
    max-height: 90%;
    z-index: 1;
    background-image: url('background.jpg.avif');
    background-size: cover;
    background-position: center;
}
  
.modal {
      display: none;
      position: fixed;
      z-index: 10; 
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0);
  }

  .modal-content {
    position: absolute;
    background-color: #3655b3;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.modal-content p {
    font: 'Open Sans';
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 14px;
}

.spacer {
    height: 100px;
    }
