<html>
  <head>
    <title>Kyra Cho : Digit Predictor</title>
    <meta charset="utf-8">
    <meta name="author" content="Kyra Cho">
    <meta name="description" content="This Kyra Cho's personal webpage.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css" />
    <script src="static/digit_predictor.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
  </head>

  <body>
    <main>
      <h2>Test Ur Digits by Kyra</h2>
      <div class="box">
        <canvas id="canvas" width="280" height="280" style="border:0px solid #000000;"></canvas>
        <div class="button-container">
          <button onclick="predictDigit(); submitNumber();">Predict</button>
          <button onclick="clearCanvas()">Re-do</button>
          <button onclick="showReadme()">Blueprint</button>
          <!-- The Modal -->
          <div id="readmeModal" class="modal">
            <div class="modal-content">
              <p>
                Test Ur Digits is made with Flask and a CNN model trained on MNIST data, deployed on Heroku.
              </p>
            </div>
          </div>
        </div>
        <div class="textwrapper">
          <p id="prediction" ></p>
          <p id="currentscore"></p>
          <p id="highscore"></p>
        </div>
      </div>
      <div class="spacer"></div>

      <!-- Apply tsParticles -->
      <!--<script src="https://cdn.jsdelivr.net/npm/tsparticles@1.34.1/tsparticles.min.js" integrity="sha256-D6LXCdCl4meErhc25yXnxIFUtwR96gPo+GtLYv89VZo=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="static/particles.js"></script>
      <div id="tsparticles"></div>-->

      <script>
            // Function to show the modal
            function showReadme() {
                var modal = document.getElementById("readmeModal");
                modal.style.display = "block";
            }

            // Function to close the modal when clicking outside of it
            window.onclick = function(event) {
                var modal = document.getElementById("readmeModal");
                var modalContent = document.querySelector(".modal-content");
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
      </script>
      
    </main>
  </body>
</html>
