<html>
  <head>
    <title>Kyra Cho : Digit Predictor</title>
    <meta charset="utf-8">
    <meta name="author" content="Kyra Cho">
    <meta name="description" content="This Kyra Cho's personal webpage.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css" />
    <script src="static/digit_predictor.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
  </head>

  <body>
    <main>
      <h2>Digit Predictor by Kyra</h2>
      <div class="box">
        <canvas id="canvas" width="280" height="280" style="border:0px solid #000000;"></canvas>
        <div class="button-container">
          <button onclick="predictDigit(); submitNumber();">Predict</button>
          <button onclick="clearCanvas()">Re-do</button>
          <button onclick="showReadme()">Blueprint</button>
          <!-- The Modal -->
          <div id="readmeModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>
                Hi, welcome. This is my toy application, hosted oh Heroku with Flask, that uses a convolutional neural network (CNN) model for machine learning on the cloud.
                <br><br>
                You can draw a digit on the canvas. The drawn digit is converted to a format just like the MNIST dataset (28x28 grayscale image). 
                The preprocessed image is fed into the model (described below), which infers the data and computes the probability distribution over the possible digits. 
                The predicted digit is displayed with the confidence score, along with the daily high score fetched from a PostgreSQL database. The database resets daily at 12:00AM EST.
                <br><br>
                The keras model has a convolutional layer with 32 filters and relu activation, a second convolutional layer with 64 filters and relu activation,
                a maxpooling layer, a flatten layer, a dense layer with 128 neurons and relu activation, a dropout layer with a
                .5 dropout rate, and an output layer. The optimizer is AdaDelta, which automatically adjusts the learning rate 
                based on past gradient information, and the loss function is categorical cross entropy. The model is around 98.5% accurate 
                on MNIST test data. 
              </p>
            </div>
          </div>
        </div>
        <div class="textwrapper">
          <p id="prediction" ></p>
          <p id="currentscore"></p>
          <p id="highscore"></p>
        </div>
      </div>
      <div class="spacer"></div>

      <!-- Apply tsParticles -->
      <!--<script src="https://cdn.jsdelivr.net/npm/tsparticles@1.34.1/tsparticles.min.js" integrity="sha256-D6LXCdCl4meErhc25yXnxIFUtwR96gPo+GtLYv89VZo=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="static/particles.js"></script>
      <div id="tsparticles"></div>-->

      <script>
        // Function to show the modal
        function showReadme() {
            var modal = document.getElementById("readmeModal");
            modal.style.display = "block";
        }
      
        // Function to close the modal when the close button is clicked
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
            var modal = document.getElementById("readmeModal");
            modal.style.display = "none";
        }
      
        // Function to close the modal when clicking outside of it
        window.onclick = function(event) {
            var modal = document.getElementById("readmeModal");
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
      </script>


      
    </main>
  </body>
</html>
